<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Add Client</title>
    <link rel="stylesheet" type="text/css" href="/css/add_sup_cus.css" th:href="@{/css/add_sup_cus.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/nav.css" th:href="@{/css/nav.css}"/>
</head>
<body>
<nav id="nav">
    <ul>
        <li>
            <a th:href="@{/}">DASHBOARD</a>
        </li>
        <li>
            <a th:href="@{/item-list}">ITEMS</a>
        </li>
        <li>
            <a th:href="@{/supplier-list}">SUPPLIERS</a>
        </li>
        <li class="selected">
            <a th:href="@{/client-list}">CUSTOMERS</a>
        </li>
        <li>
            <a th:href="@{#}">ORDERS</a>
        </li>
        <li>
            <a th:href="@{#}">SALES</a>
        </li>
    </ul>
    <h1>INVENTORA</h1>
    <div>
        <a th:href="@{/logout}" class="logOut_btn">Logout</a>
    </div>
</nav>
<div id="container">
    <h1>Add New Client</h1>

    <form th:action="@{/submit-client}" method="post" th:object="${client}">
        <div>
            <label for="client_id">Client Id:</label>
            <input type="text" id="client_id" name="client_id" th:field="*{client_id}" required/>
        </div>
        <div>
            <label for="client_name">Client Name:</label>
            <input type="text" id="client_name" name="client_name" th:field="*{client_name}" required/>
        </div>
        <div>
            <label for="NIC number">NIC number:</label>
            <input type="text" id="NIC number" name="NIC number" th:field="*{client_NIC}" required/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{client_email}" required/>
        </div>
        <div>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" th:field="*{client_contact}" required/>
        </div>
        <div class="address">
            <label for="address">Address:</label>
            <textarea id="address" name="address" rows="4" th:field="*{client_address}" required></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<footer>
    <div>
        <h3>About</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only
            five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
        </p>
    </div>
    <h2>INVENTORA</h2>
    <ul>
        <li><a href="" #>PRIVACY POLICY</a></li>
        <li><a href="" #>TERMS OF USE</a></li>
        <li><a href="" #>CONTACT US</a></li>
        <li><a href="" #>FAQ</a></li>
    </ul>
</footer>
</body>
</html>
