<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/home.css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/nav.css" th:href="@{/css/nav.css}"/>
</head>
<body>
<nav id="nav">
    <ul>
        <li class="selected">
            <a th:href="@{/}">DASHBOARD</a>
        </li>
        <li>
            <a th:href="@{/item-list}">ITEMS</a>
        </li>
        <li>
            <a th:href="@{/supplier-list}">SUPPLIERS</a>
        </li>
        <li>
            <a th:href="@{/client-list}">CUSTOMERS</a>
        </li>
        <li>
            <a th:href="@{#}">ORDERS</a>
        </li>
        <li>
            <a th:href="@{#}">SALES</a>
        </li>
    </ul>
    <h1>INVENTORA</h1>
    <div>
        <a th:href="@{/logout}" class="logOut_btn">Logout</a>
    </div>
</nav>
<!--<div class="top-nav">-->
<!--    <div>-->
<!--        <header>-->
<!--            <h1>INVENTORA</h1>-->
<!--        </header>-->
<!--    </div>-->
<!--    <div class="logout-btn" sec:authorize="isAuthenticated()">-->
<!--        <a th:href="@{/logout}" class="logout-link">Logout</a>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <p>Welcome! <span sec:authentication="principal.username">User</span></p>
</div>
<div id="container">
    <div class="side-by-side">
        <div>
            <div>
                <h3>Total Items</h3>
                <p><span th:text="${totalItems}"></span></p>
            </div>
            <div>
                <h3>Number of Suppliers</h3>
                <p><span th:text="${totalSuppliers}"></span></p>
            </div>
            <div>
                <h3>Number of Customers</h3>
                <p><span th:text="${totalCustomers}"></span></p>
            </div>
        </div>
        <div>
            <div>
                <h3>Quantity In Hand</h3>
                <p><span th:text="${totalQuantity}"></span></p>
            </div>
            <div>
                <h3>Total Expenditure</h3>
                <p>LKR <span th:text="${#numbers.formatDecimal(totalExpenditure, 0, 'COMMA', 2, 'POINT')}"></span></p>
            </div>
            <div>
                <h3>Total Projected Income</h3>
                <p>LKR <span th:text="${#numbers.formatDecimal(totalProjectedIncome, 0, 'COMMA', 2, 'POINT')}"></span></p>
            </div>
        </div>
    </div>
<!--    <div class="horizontal">-->
<!--        <div>-->
<!--            <h3>Total Orders</h3>-->
<!--            <p>$1833</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <h3>Total Delivers</h3>-->
<!--            <p>$1833</p>-->
<!--        </div>-->
<!--        <div class="vir-line"></div>-->
<!--        <div>-->
<!--            <h3>Average Order Price</h3>-->
<!--            <p>$1833</p>-->
<!--        </div>-->
<!--    </div>-->
</div>
<footer>
    <div>
        <h3>About</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only
            five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
        </p>
    </div>
    <h2>INVENTORA</h2>
    <ul>
        <li><a href="" #>PRIVACY POLICY</a></li>
        <li><a href="" #>TERMS OF USE</a></li>
        <li><a href="" #>CONTACT US</a></li>
        <li><a href="" #>FAQ</a></li>
    </ul>
</footer>
</body>
</html>
